name: Deploy to GH Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Field Guide
      uses: actions/checkout@v3
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Query TFC Version
      id: version
      run: |
        output=$(python src/versions.py)
        echo "TFC Version: $output"
        echo "version=$output" >> $GITHUB_OUTPUT
    - name: Checkout TFC
      uses: actions/checkout@v3
      with:
        repository: 'TerraFirmaCraft/TerraFirmaCraft'
        ref: ${{ steps.version.outputs.version }}
        path: 'tfc'
    - name: Build
      run: |
        python src/main.py --tfc-dir tfc --out-dir build --root-dir "${GITHUB_REPOSITORY#*/}" --use-mcmeta --use-addons --copy-existing-versions
        touch build/.nojekyll
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: build
        clean: true
        single-commit: true
